<ion-content>

  <h1 text-center>Gerenciador de Estoque</h1>

  <ion-list padding>

    <form [formGroup]="signInForm" (ngSubmit)="signIn()">

      <ion-item no-padding>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email" maxLength="50" (ionBlur)="validateFields()"></ion-input>
      </ion-item>

      <!-- Errors Messages -->
      <ion-note color="danger" *ngIf="signInForm.get('email').hasError('pattern') && signInForm.pending">
        Email inválido.
      </ion-note>
      <ion-note color="danger" *ngIf="signInForm.get('email').hasError('required') && signInForm.get('email').touched && signInForm.pending">
        Email obrigatório.
      </ion-note>

      <ion-item no-padding>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="password" maxLength="26" (ionBlur)="validateFields()"></ion-input>
      </ion-item>

      <!-- Errors Messages -->
      <ion-note color="danger" *ngIf="signInForm.get('password').hasError('minlength') && signInForm.pending">
        Senha deve conter no mínimo 6 digitos.
      </ion-note>
      <ion-note color="danger" *ngIf="signInForm.get('password').hasError('required') && signInForm.get('password').touched && signInForm.pending">
        Senha obrigatória.
      </ion-note>

      <button ion-item no-lines margin-top type="submit" color="primary">Entrar</button>

    </form>
    
    <button ion-button margin-top float-right clear navPush="RegisterPage">Registrar</button>
  </ion-list>

  <ion-row justify-content-end>
  </ion-row>

</ion-content>
